/* CONFIGURAÇÕES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%; /* = 10px */
}

body {
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    font-size: 1.5rem;
    position: absolute;

    background: black;

    background-repeat: no-repeat;
    background-size: cover;

    color: white;
}

h1 {
    font-size: 4rem;
    margin: 1rem 0 1rem;
}

.container {
    margin-left: 1.8rem;
    margin-right: 1.8rem;
}

/* HEADER / MENU */
header {
    background-color: rgba(0, 0, 0, 0.301);
    display: flex;
    align-items: center;

    width: 100%;
    height: 8rem;
    position: fixed;
}

.header-menu {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    gap: 1.8rem;
}

/* menu príncipal */
menu {
    display: flex;
    align-items: center;
    gap: .5rem;
}

menu img {
    max-width: 1.3rem;
}

.menu-main,
.menu-main ul {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
}

.menu-main ul li {
    width: 10rem;
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
}

.menu-main ul li:hover {
    background-color: rgba(224, 209, 209, 0.301);
}

/* menu que abre ao clicar na logo */
.menu-logo {
	background: white;
	width: 100%;
	height: 40rem;
	position: fixed;
	top: 0;
	visibility: hidden;
}

.menu-logo.active {
	visibility: visible;
}

.header-menu-logo {
	display: flex;
	justify-content: space-between;
	margin: 3rem 5rem;
}

.close,
.circle {
	width: 4rem;
	height: 4rem;
}

.circle {
	clip-path: circle();
	background: #e0e0de;
	display: flex;
	align-items: center;
	justify-content: center;
}

.circle img {
	max-width: 2rem;
}

/* SECTION COM AS INFO */
.character-info {
    margin-top: 30rem;
    width: 45rem;
    margin-left: 7rem;
}

.character-info p:nth-child(1) {
    font-size: 2rem;
}

.character-info p {
    font-size: 1.6rem;
    padding: 0.2rem;
    line-height: 3rem;
}

/* BOTÃO PRÓXIMO PERSONSAGEM */
.next-character {
    position: relative;
    max-width: 5rem;
    margin: -14rem 17rem 0 auto;
    cursor: pointer;
}

.next-character img {
    max-width: 5rem;
}