/* CONFIGURAÇÕES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%; /* = 10px */
}

body {
    font-family: sans-serif;
    font-size: 1.5rem;
    background: #000;
    color: white;
}

section {
    padding: 13rem;
}

.section-main {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-repeat: no-repeat;
    background-size: cover;
}

.OpenCloseSVG {
	max-width: 1.2rem;
}

h1 {
    font-size: 4rem;
    margin: 1rem 0 1rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* HEADER / MENU */
header {
    background-color: rgba(0, 0, 0, 0.301);
    display: flex;
    align-items: center;

    width: 100%;
    height: 8rem;
    position: fixed;
}

.header-menu {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    gap: 1.8rem;
}

.logo, .logo2 {
	display: flex;
	align-items: center;
    cursor: pointer;
}

/* menu príncipal */
menu {
    display: flex;
    align-items: center;
    gap: .5rem;
}

menu img {
    max-width: 1.3rem;
}

.menu-main,
.menu-main ul {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
}

.menu-main ul li {
    width: 10rem;
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    cursor: pointer;
}

.menu-main ul li:hover {
    background-color: rgba(224, 209, 209, 0.301);
}

.games-submenu {
    position: fixed;
    background: #1a1a18;
    width: 20rem;
    height: 25rem;
    margin-top: 30rem;
    margin-left: 16.8rem;
    border-radius: .5rem;
    border-top: 4px solid red;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-size: 1.4rem;
    text-transform: uppercase;

    visibility: hidden;
}

.games-submenu.active {
    visibility: visible;
}

.games-submenu ul li {
    padding: .8rem;
    margin: .8rem;
    border-radius: .4rem;
}

.games-submenu ul li:hover {
    background: #7d7d7c;
}

.games-submenu ul li a {
    color: #e8e8e6;
}

/* menu que abre ao clicar na logo */
.menu-logo {
	background: white;
    color: #000;
	width: 100%;
	height: 45rem;
	position: fixed;
	top: 0;
	visibility: hidden;

}

.menu-logo.active {
	visibility: visible;
}

.header-menu-logo {
	display: flex;
	justify-content: space-between;
	margin: 2rem 2rem;
}

.close,
.circle {
	width: 4rem;
	height: 4rem;
}

.circle {
	clip-path: circle();
	background: #e0e0de;
	display: flex;
	align-items: center;
	justify-content: center;
}

.circle img {
	max-width: 2rem;
}

.logo {
	fill: white;
}

.logo:hover,
.logo2:hover {
	fill: red;
}

.content-menu-logo {
    display: flex;
    justify-content: space-between;
}

/* tópicos */
.topics {
    width: 50rem;
    margin-left: 4rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.topics p,
.topics ul li {
    background: #ebf4f5;
    width: 20rem;
    font-weight: bold;
    padding: 0.8rem;
    margin: 1rem 0 1rem
}

.topics ul li {
    background: white;
    font-weight: normal;
}

.topics ul li a {
    color: #8a8484;
}

.cover {
    margin-right: 10rem;
}

.cover img {
    max-width: 55rem;
    border-radius: 1rem;
}

.character-info p {
    width: 45rem;
    word-wrap: break-word;
}

.character-info p:nth-child(1) {
    font-size: 2rem;
}

.character-info p {
    font-size: 1.6rem;
    padding: 0.2rem;
    line-height: 3rem;
}

/* BOTÃO PRÓXIMO PERSONSAGEM */
.next-character {
    width: 5rem;
    cursor: pointer;
}

.next-character img {
    max-width: 5rem;
}